@import url(base.css);

.f1box{width: 100%;height: 35px;background:#fafafa;border-bottom: 1px solid #DBDBDB;}
.innerbox{width: 1200px;height: 35px;margin: 0 auto;background:#fafafa}
.innerbox-left{width: 250px;height: 34px;float: left;background: #fafafa;cursor: pointer;font: 12px Arial,Helvetica,sans-serif;color: #333;}
.f1-denglu{width: 96px;height: 34px;float: left;background: #fafafa;border:1px solid #f0f0f0;border-top: 0;line-height: 35px;padding: 0px 7px 0px 6px;border-bottom: 0;}
.f1-denglu a:hover{color:#f60;}
.f1-songhuo{width: 135px;height: 21px;margin-top: 8px;float: left;background: transparent url("../img/indexhead_sprite.png") no-repeat scroll right -710px;}
.f1-denglu span{font: 12px Arial,Helvetica,sans-serif;
color: #333;}
.f1-songhuo span{line-height: 21px;font-size: 12px;padding: 0px 5px;}
.f1-songhuo a{width: 46px;height: 18px;border: 1px solid #DBDBDB;text-align: center;padding: 0px 15px 0px 5px;    line-height: 18px;font-weight: bold;color:#333;background: #FFF url("../img/indexhead_sprite.png") no-repeat scroll right 6px;}
/*f1 right*/
.innerbox-right{width: 545px;height: 27px;float: right;padding-top: 8px;line-height: 21px;font-size: 12px;background:#fafafa;}
.innerbox-right a:hover{color: #E53131}
.f1-wode{width:431px;height: 25px;float: left;}
.f1-wode1{height: 25px;padding: 0px 6px;float: left;background: transparent url("../img/indexhead_sprite.png") no-repeat scroll right -733px;}
.f1-wode1 a{color:#333;line-height: 25px;float: left;height: 14px;line-height: 14px;padding: 4px 18px 4px 0px;display: block;background: transparent url("../img/indexhead_sprite.png") no-repeat scroll right -255px;}
.f1-wode1-shouji{display: inline-block;width: 12px;height: 16px;margin-left: 5px;background: transparent url("../img/indexhead_sprite.png") no-repeat scroll -288px -230px;vertical-align: middle;}
.innerbox-right span{float: left;margin-left: 6px;color: #61646E;}
.f1-weibo{display: block;float: left;width: 17px;height: 21px;background: transparent url("../img/indexhead_sprite.png") no-repeat scroll -283px -838px;cursor: pointer;}
.f1-weixin{display: block;float: left;width: 17px;height: 25px;margin: 0px 6px 0px 8px;background: transparent url("../img/indexhead_sprite.png") no-repeat scroll -283px -928px;cursor: pointer;}
/*f2*/
.f2{width: 1200px;height: 60px;margin: 0 auto;}
/*f3*/
.f3-box{width: 1200px;height: 96px;padding: 14px 0px 0px;margin: 0 auto;font: 12px Arial,Helvetica,sans-serif;
color: #333;}
.f3-left{float: left;width: 210px;height: 110px;margin-top: -14px;}
.f3-middle{width: 630px;margin-left: 114px;height: 56px;margin-top: 5px;float: left;}
.f3-middle1{width: 630px;height: 32px;;float: left;position: relative;}
.f3-middle1-shop a{width: 67px;height: 28px;background: #F8F8F8;float: left;position: absolute;left: 2px;top: 2px;border-right: 1px solid #E1E1E1;text-align: center;line-height: 28px;color: #333}
.f3-middle1-kuang{float: left;border: 2px solid #FF3C3C;background: #FFF;height: 28px;width: 524px;}
.f3-input{width: 342px;height: 28px;padding-left: 78px;padding-right: 6px;border: 0px none;font-size: 12px;color: #ccc;float: left;}
.f3-btn{float: left;background: #FF3C3C;width: 98px;height: 28px;line-height: 28px;border: 0px none;font-size: 14px;font-family: "Microsoft YaHei";text-align: center;color: #FFF;vertical-align: middle;cursor: pointer;outline: medium none;}

.f3-middle2{width: 550px;line-height: 24px;color: #999;height: 24px;font: 12px Arial,Helvetica,sans-serif;float: left;}
.f3-middle2 a{float: left;color: #999;margin-right: 10px;font-size: 12px;height: 24px;line-height: 24px;}

.f3-right{float: right;width: 144px;height: 49px;margin-top: 5px;float: right;padding-right: 82px;position: relative;}
.f3-right1{width: 62px;height: 45px;margin-top: 4px;float: left;}
.f3-right1-zi{float: left;display: block;width: 60px;height: 39px;padding-top: 4px;background: #FCFCFC none repeat scroll 0% 0%;border: 1px solid #F2F2F2;text-align: center;color: #999;font-family: "Microsoft YaHei";line-height: 16px;float: left;}
.f3-right1-zi em{background-position: -130px -20px;display: inline-block;height: 15px;width: 22px;background: transparent url("../img/indexhead_sprite.png") no-repeat scroll -130px -20px;text-align: center;color: #999;font-family: "Microsoft YaHei";line-height: 16px;}
.f3-right1-zi i{display:block;height: 3px;width: 5px;margin: 0px auto;background: transparent url("../img/indexhead_sprite.png") no-repeat scroll -130px -40px;font-size: 0}
.f3-right2{width: 62px;height: 45px;margin-top: 4px;float: left;}
/*查询*/
.f3-right2-zi{float: left;display: block;width: 60px;height: 39px;padding-top: 4px;background: #FCFCFC none repeat scroll 0% 0%;border: 1px solid #F2F2F2;text-align: center;color: #999;font-family: "Microsoft YaHei";line-height: 16px;display: inline;}
.f3-right2-zi em{background-position: -130px -20px;display: inline-block;height: 15px;width: 22px;background: transparent url("../img/indexhead_sprite.png") no-repeat scroll -160px -20px;text-align: center;color: #999;font-family: "Microsoft YaHei";line-height: 16px;}
.f3-right2-zi i{display: block;height: 3px;width: 5px;margin: 0px auto;background: transparent url("../img/indexhead_sprite.png") no-repeat scroll -130px -40px;font-size: 0}
.f3-gouwu{width: 83px;height: 49px;position: absolute;top: 0px;right: 19px}
.f3-gouwu em{display: inline-block;width: 18px;height: 17px;background: transparent url("../img/indexhead_sprite.png") no-repeat scroll -190px -20px;vertical-align: middle;float: left;margin-left: 9px;}
.f3-gouwu a{display: block;width: 83px;overflow: hidden;padding: 17px 0px 16px;background: #FF3C3C none repeat scroll 0% 0%;text-align: center;line-height: 16px;color: #FFF;font-size: 14px;font-family: "Microsoft YaHei";height: 16px;float: left;}
/*f4*/
.f4{width: 100%;height: 36px;}
.f4-inner{width: 1200px;height: 34px;border-bottom: 2px solid #FD3F49;margin: 0 auto;}
.f4-inner-left{width: 210px;height: 34px;float: left;}
.f4-inner-left a{display: block;padding: 0px 0px 0px 42px;width: 168px;height: 34px;line-height: 34px;background: #FF3C3C url("../img/indexhead_sprite.png") no-repeat scroll -104px -1201px;font-weight: bold;font-size: 14px;color: #FFF;font-family: "Microsoft YaHei";}
.f4-inner-middle{width: 780px;height: 34px;float: left;}
.f4-li{height: 34px;float: left;}
.f4-li a{padding: 0px 20px;color: #000;height: 34px;line-height: 34px;display: block;float: left;font-size: 14px;font-family: "Microsoft Yahei";font-weight: bold;}
.f4-li a:hover{color: #FF3C3C}
.f4-right img{width: 205px;height: 34px;float: right;}

.f4-li1{height: 34px;float: left;}
.f4-li1 a{padding: 0px 20px;color: #FF3C3C;height: 34px;line-height: 34px;display: block;float: left;font-size: 14px;font-family: "Microsoft Yahei";font-weight: bold;}
.f4-right img{width: 205px;height: 34px;float: right;}
/*f5*/
.f5{width: 100%;height: 398px;position: relative;}
.f5-inner{width: 1200px;height: 398px;margin: 0 auto;position: relative;z-index:1}
.f5-tu{position: absolute;top: 0;left:210px;width: 750px;height: 398px;float: left;display: inline;font-size: 0}
.ay{position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
.ay li{width: 100%;height: 100%;position: absolute;left: 0;top: 0;}




.banner{position: absolute;top: 0;left: 0;opacity: 0;cursor:pointer;}
.f5-hengtiao em{width: 28px;height: 28px;display: inline-block;margin-right: 10px;text-align: right;vertical-align: middle;text-decoration: none;font-family: "iconfont";font-size: 18px;font-style: normal;color: #FFF}
.f5-hengtiao a{display: inline-block;font-weight: normal;font-size: 12px;color: #FFF;line-height: 32px;}
.f5-hengtiao {color:#FFF;}

.f5-inner-left{width:210px;height: 396px;background: #C23131;float: left;border-top: 2px solid #B01D1D;position: absolute;left: 0;top: 0;}
.f5-right{width: 240px;height: 398px;float: right;position: absolute;right: 0;top: 0}

.f5-right-1{width: 213px;height: 211px;background: #fff;padding: 0px 13px;border-top: 1px solid #EEE;font: 12px Arial,Helvetica,sans-serif;color: #333;}
.f5-right-1 dt{height: 34px;margin-bottom: 5px;padding: 0px 3px;border-bottom: 1px dotted #CCC;font-family: "Microsoft YaHei";line-height: 34px;font-size: 14px;color: #333;}
.f5-right-1 dd{width: 214px;height: 26px;}
.f5-right-1 a{line-height: 26px;color:#666}
.f5-right-1 a:hover{color: red}
.f5-right-2{width: 240px;height: 188px;background: #fff}
.f5-right-2 p{height: 26px;padding: 0px 15px;font-size: 14px;font-family: "Microsoft YaHei";line-height: 26px;color: #333;}
.f5-right-2-a{width: 240px;height: 162px;float: left;}
.f5-right-2-a li{float: left;width: 80px;height: 80px;margin-left: -1px;border-top: 1px solid #EEE;border-left: 1px solid #EEE;text-align: center;}
.f5-right-kuang{display: block;padding: 15px 0px 0px;color: #666;}
.f5-right-kuang p:hover{color: red;}
.f5-right-kuang em{font-size: 30px;font-style: normal;color: #E60012;display: block;height: 35px;line-height: 35px;width: 80px}
.f5-right-kuang p{color: #666;font: 12px Arial,Helvetica,sans-serif;margin-top: 6px;}
/*f5 按钮*/
.f5-anniu{width: 200px;height: 19px;position: absolute;left: 40%;bottom: 21px;}
.F5-btn{display: inline-block;width: 15px;height: 15px;overflow: hidden;margin-left: 10px;background-color: #CCC;cursor: pointer;float: left;}
.f5-anniu li:hover{background: #FF3C3C;}

/*f5  左右按钮*/
.f5-hezi{width: 100%;height: 80px;position: absolute;top: 50%;margin-top: -40px;}
.f5-hezi a{width: 45px;height: 100%;display:block;text-align: center;line-height: 80px;font-family: "simsun";}
.f5-left{float: left;}
.f5-righta{float: right;}
.f5:hover .f5-hezi a{background: #000;opacity: 0.2;color: #fff;font-size: 35px;}



/*f6*/
.f6{width: 1200px;height: 400px;margin: 0 auto;margin-top: 20px;overflow: hidden;}
.f6-1{width: 240px;height: 400px;float: left;}
.f6-2{width: 239px;border-right: 1px solid #F2F2F2;float: left;height: 400px;}
.f6-2-top{display: block;height: 199px;border-bottom: 1px solid #F2F2F2;text-align: center;}
.f6-2-zi{color: #333;}
.f6-2-zi strong{display: block;font-size: 16px;text-align: center;margin-top: 14px;}
.f6-2-zi p{font-size: 14px;color: #666;font-family: "Microsoft YaHei";display: block;height: 19px;}
.f6-2-zi img{margin-top: 20px;width: 160px;height: 120px;}

.f6-hengtiao{width: 1200px;height: 60px;margin: 0 auto;margin-top: 20px;}
/*f7*/
.f7{width: 100%;height: 414px;}
.f7-inner{width: 1200px;height: 414px;margin: 0 auto;}
.f7-inner-top{color: #FF4500;height: 32px;border-bottom: 2px solid #FF4500;line-height: 32px;padding-top: 20px;background: #F9F9F9 none repeat scroll 0% 0%;}
.f7-inner-top-zuo{width: 100px;height: 32px;line-height: 32px;float: left;}
.f7-inner-top-zuo a{font-weight: bold;font-size: 16px;font-family: "Microsoft YaHei";color: #FF4500}
.f7-inner-top-you{height: 32px;float:right;color: #999;line-height: 32px;font-size: 12px;}
.f7-inner-top-you a{color: #666;margin: 0px 5px;display: inline-block;vertical-align: middle;text-align: center;}
.f7-inner-top-you a:hover{color: #E60012}
/*f7 bottom*/
.f7-bottom1{float: left;width: 209px;height: 360px;background: #FFF none repeat scroll 0% 0%;text-align: center;border-right: 1px solid #F4F4F4;overflow: hidden;font-size: 12px;}
.f7-jinkou{display: block;width: 172px;height: 32px;overflow: hidden;margin: 0px 10px;padding: 0px 8px;background: transparent url("../img/index_sprite.png") no-repeat scroll 180px 0px;border-bottom: 1px dotted #E7E7E7;line-height: 32px;text-align: left;color: #333}
.f7-bottom1 a:hover{color: #D6430D}
.f7-bottom1-ul{height: 99px;padding: 0px 10px;}
.f7-bottom1-ul a{display: block;text-align: left;text-indent: 5px;margin: 0px 5px;width: 74px;height: 32px;line-height: 32px;border-bottom: 1px dotted #EEE;color: #333;float: left;}
.f7-baokuan{width: 209px;height: 215px;}
.f7-baokuan h3{margin: 13px 35px 3px;color: #FF4500;font-weight: bold;height: 18px;line-height: 18px;}
.f7-baokuan h4{height: 24px;overflow: hidden;margin-bottom: 10px;padding: 0px 30px;font-size: 12px;color: #999;line-height: 24px;}
.f7-bottom2{float: left;width: 329px;height: 360px;position: relative;background: #FFF none repeat scroll 0% 0%;border-right: 1px solid #F4F4F4;overflow: hidden;}
.f7-bottom-da{width: 3000px;height: 100%;}
.f7-bottom-da li{float: left;}



.f7-btn{position: absolute;bottom: 20px;text-align: center;width: 330px;height: 15px;}
.f7-btn1{width: 108px;height: 5px;position: absolute;left: 34%;top: 34%}
.f7-btn1 li{float: left;text-align: left;width: 30px;margin: 0px 3px;height: 4px;font-size: 0px;line-height: 0;background: #DDD none repeat scroll 0% 0%;}


.f7-btn1 li div{background: red;height: 100%;width:0;}


/*f7-bottom 3*/
.f7-bottom3{float: left;width: 219px;height: 360px;border-right: 1px solid #F4F4F4;overflow: hidden;background: #FFF none repeat scroll 0% 0%;text-align: center;}
.f7-bottom3-zi{display: block;border-bottom: 1px solid #F4F4F4;text-align: center;width: 219px;height: 165px;margin-top: 14px;float: left;}
.f7-bottom3-zi strong{height: 18px;overflow: hidden;margin: 16px 35px 3px;font-size: 14px;color: #000;line-height: 18px;font-weight: normal;font-family: "Microsoft YaHei";}
.f7-bottom3-zi p{height: 24px;overflow: hidden;margin-bottom: 10px;padding: 0px 30px;font-size: 12px;color: #999;line-height: 24px;}

/*f7-bottom4*/
.f7-bottom4{float: left;width: 219px;height: 360px;border-right: 1px solid #F4F4F4;background: #FFF none repeat scroll 0% 0%;overflow: hidden;text-align: center;}
.f7-bottom4-zi h3{height: 18px;overflow: hidden;font-size: 14px;color: #000;line-height: 18px;margin: 16px 35px 3px;}
.f7-bottom4-zi h4{height: 24px;overflow: hidden;margin-bottom: 10px;padding: 0px 30px;font-size: 12px;color: #999;line-height: 24px;font-weight: normal;font-family: "Microsoft YaHei";}
.f7 img:hover{opacity: 0.8}
/*f10 底部*/
.f10-di{width: 100%;height: 180px;}
.f10-di-inner{width: 1200px;height: 180px;margin: 0 auto;}
.f10-di-inner img:hover{opacity: 0.8}
.f10-f1{float: left;width: 209px;height: 179px;border-top: 1px solid #F4F4F4;border-right: 1px solid #F4F4F4;overflow: hidden;background: #FFF none repeat scroll 0% 0%;}
.f10-f1 a{display: block;text-align: center;margin-top: 10px;}
.f10-f1 strong{color: #A7D22D;font-weight: bold;margin: 13px 35px 3px;line-height: 18px;font-family: "Microsoft YaHei";height: 18px;overflow: hidden;font-size: 14px;}
.f10-f1 p{height: 24px;overflow: hidden;margin-bottom: 10px;padding: 0px 30px;font-size: 12px;color: #999;line-height: 24px;}
.f10-f1 img{width: 190px;height: 110px;}
.f10-f2{float: left;width: 329px;height: 179px;border-top: 1px solid #F4F4F4;border-right: 1px solid #F4F4F4;overflow: hidden;}
.f10-f2 a{display: block;padding: 15px 15px 0px;color: #333;}
.f10-f2-zi{width: 140px;padding: 15px 14px 0px 15px;float: left;}
.f10-f2-zi h3{margin: 16px 0px 3px;padding: 16px 0px 3px;height: 18px;font-size: 14px;color: #000;line-height: 18px;font-weight: normal;}
.f10-f2-zi h4{height: 24px;margin-bottom: 10px;font-size: 12px;color: #999;line-height: 24px;font-weight: normal;}
.f10-f2-zi em{display: block;height: 22px;overflow: hidden;float: left;margin-top: 4px;padding: 0px 8px;background: #FF4148 none repeat scroll 0% 0%;color: #FFF;line-height: 22px;font-size: 14px;font-family: "Microsoft YaHei";}
.f10-f2 img{float:right;}
.f10-f2 img:hover{opacity: 0.8}
.f10-f3{float: left;width: 219px;height: 179px;border-top: 1px solid #F4F4F4;border-right: 1px solid #F4F4F4;overflow: hidden;}
/*13*/
.f13{width: 100%;height: 414px;}
.f13-inner{width: 1200px;height: 414px;margin: 0 auto;position: relative;}
.f13-tubiao{width: 180px;height: 230px;overflow: hidden;margin: 0px auto;position: relative;}
.f13-inner img:hover{opacity: 0.8}
.f13-tubiao1{width: 100px;height: 230px;margin: 0 auto}
.f13-tubiao1 a{display: block;width: 100px;height: 40px;overflow: hidden;margin: 12px 0px;}
.f13-anniu-left{background-position: -82px -205px;left: 10px;top: 100px;position: absolute;width: 9px;height: 15px;font-size: 0px;line-height: 0;background: transparent url("../img/index_sprite.png") repeat scroll -82px -206px;}
.f13-anniu-right{background-position: -92px -205px;right: 10px;top: 100px;position: absolute;width: 9px;height: 15px;font-size: 0px;line-height: 0;background: transparent url("../img/index_sprite.png") repeat scroll -93px -206px;;}

.f13-dingwei{width: 219px;height: 359px;position: absolute;bottom: -178px;right:2px;border-right: 1px solid #f4f4f4}
.f13-dingwei a{display: block;text-align: center;}
.f13-dingwei h3{margin: 16px 35px 3px;line-height: 18px;font-weight: normal;font-family: "Microsoft YaHei";height: 18px;overflow: hidden;font-size: 14px;color: #000;}
.f13-dingwei h4{height: 24px;overflow: hidden;margin-bottom: 10px;padding: 0px 30px;font-size: 12px;color: #999;line-height: 24px;font-weight: normal;font-family: "Microsoft YaHei";}
/*f14*/

.f14-bottom3{font-family: "Microsoft Yahei";font-size: 12px;text-align: center;float: left;width: 219px;height: 360px;border-right: 1px solid #F4F4F4;overflow: hidden;}
.f14-bottom3-zi{height: 180px;width:219px;text-align: center;display: block;border-bottom: 1px solid #F4F4F4;color: #333;}
.f14-bottom3-zi img:hover{opacity: 0.8}
.f14-bottom3-zi img{margin-top: 10px;margin-left: 7px;}
.f14-bottom3-zi strong{margin: 5px 10px;text-align: center;display: block;color: #666;white-space: nowrap;text-overflow: ellipsis;display: inline;font-size: 12px;}
.f14-bottom3-zi strong:hover{color: #E60012;}
.f14-bottom3-zi p{color: #E60012;font-size: 14px;font-weight: bold;}
.f14-zi p{padding: 10px 0px 0px 15px;font-family: "Microsoft Yahei";font-size: 14px;color: #666;line-height: 24px;}
.f14-f1{float: left;width: 209px;height: 179px;border-top: 1px solid #F4F4F4;border-right: 1px solid #F4F4F4;overflow: hidden;}
.f14-f1 img:hover{opacity: 0.8}
.f14-f1 p{padding: 10px 0px 0px 15px;font-family: "Microsoft Yahei";font-size: 14px;color: #666;line-height: 24px;}
.f14-f2{width: 204px;height: 140px;padding-left: 5px;}
.f14-f2 a{display: block;float: left;}
/*f15*/
.f15-bottom2{width: 330px;height: 360px;float: left;}
.f15-tu1{position: relative;display: block;height: 180px;}
.f15-bottom2 span{position: absolute;top: 83px;left: 25px;color: #FFF;font-size: 14px;font-family: "Microsoft YaHei";line-height: 22px}
.f15-bottom2 em{position: absolute;top: 115px;left: 25px;font-family: "Microsoft YaHei";font-style: normal;font-size: 12px;color: #333}
.f15-bottom2 img:hover{opacity: 0.8}

.f15-bottom3{font-family: "Microsoft Yahei";font-size: 12px;text-align: center;float: left;width: 219px;height: 360px;border-right: 1px solid #F4F4F4;overflow: hidden;}
.f15-bottom3 a{height: 179px;text-align: center;display: block;border-bottom: 1px solid #F4F4F4;text-decoration: none;color: #333;}
.f15-bottom3 img{margin-top: 10px;}
.f15-bottom3 img:hover{opacity: 0.8}
.f15-bottom3 p{margin: 5px 10px 0 10px;overflow: hidden;}
.f15-jiage{width: 199px;height: 20px;text-align: center;}
.f15-jiage b{margin-right: 5px;color: #E60012;font-size: 14px;float: left;}
.f15-jiage span{color: #999;float: left;font-size: 12px;line-height: 20px;}
.f15-bottom3:hover{color: red}
/*f16*/
.f16{width: 1200px;height: 414px;margin: 0 auto;}
.f16-top{border-bottom-color: #CEA145;color: #CEA145;height: 32px;line-height: 32px;background: #F9F9F9 none repeat scroll 0% 0%;padding-top: 20px;}
.f16-top a{color: #CEA145;float: left;font-weight: bold;font-size: 16px;font-family: "Microsoft YaHei";}
.f16-right{width: 187px;height: 32px;float: right;padding-right: 5px;font-weight: bold;color: #666;font-size: 14px;font-family: "century gothic";}
.f16-right a{font-weight: bold;color: #666;font-size: 14px;font-family: "century gothic";}
.f16-right a:hover{color: #BF1515}
.f16-bottom{width: 1200px;height: 360px;float: left;position: relative;}
.f16-bottom img:hover{opacity: 0.8}
/*f16-dingwei*/
.f16-dingwei{position: absolute;top: -34px;left: 62px;width: 600px;height: 32px;line-height: 32px;}
.f16-sanjiao{position: absolute;top: 24px;left: 30px;width: 0px;height: 0px;overflow: hidden;border-color: transparent transparent #CEA145;border-style: dashed dashed solid;border-width: 4px;font-size: 0px;}
.f16-dapai{float: left;padding: 0px 10px;color: #666;}
.f16-dapai a{font: 12px Arial,Helvetica,sans-serif;color: #666;line-height: 32px;}

.f16-tu{width: 320px;height: 360px;position: relative;float: left;}
.f16-bottom{overflow: hidden;}
.f16-tu u{position: absolute;top: 320px;left: 145px;font-family: "Microsoft YaHei";font-size: 14px;color: #333;line-height: 22px;text-decoration: none;}
.f16-tu b{font-family: "Century Gothic";font-size: 22px;font-weight: bold;color: #E94919;line-height: 22px;}
.f16-tu1{width: 220px;height: 360;position: relative;float: left;cursor: pointer;}
.f16-tu1 u{position: absolute;top: 300px;left: 30px;width: 160px;font-family: "Microsoft YaHei";font-size: 14px;color: #333;line-height: 24px;text-align: center;text-decoration: none;}
.f16-tu1 b{font-family: "Century Gothic";font-size: 22px;font-weight: bold;color: #E94919;line-height: 22px;}
/*bigbox*/
.bigbox{width: 100%;background: #f9f9f9}
/*last*/
.last-17{width: 100%;height: 476px;}
.last1{width: 1200px;height: 66px;padding: 30px 0px;border-bottom: 1px solid #EBEBEB;margin: 0px auto;color: #333;font: 12px Arial,Helvetica,sans-serif;}
.last1 a{margin: 0px 45px;float: left;display: block;width: 205px;overflow: hidden;display: inline;}
.last1 img{float: left;display: block;width: 66px;height: 66px;margin-right: 15px;}
.last1 b{display: block;margin-top: 10px;font-family: "Microsoft YaHei";font-size: 16px;color: #333;}
.last1 span{font-family: "Microsoft YaHei";font-size: 14px;color: #999;line-height: 26px;}

.last2{width: 1200px;height: 152px;margin: 0 auto;padding: 20px 0;}
.last2-left{width: 840px;height: 152px;padding-left: 40px;float: left;}
.last2-right{width: 320px;height: 122px;float: right;}
.last2-left1{width: 168px;height: 152px;float: left;}
.last2-left1 dt{height: 32px;padding: 0px 8px;font-size: 14px;line-height: 32px;overflow: hidden;font-family: "Microsoft YaHei";color: #666;font-weight: bold;}
.last2-left1 dd{height: 24px;padding: 0px 8px;line-height: 24px;overflow: hidden;white-space: normal;font-size: 12px;}
.last2-left1 a{color: #666}
.last2-left1 a:hover{color: red}
.last2-right1{width: 90px;height: 122px;margin-right: 80px;line-height: 32px;font-size: 14px;font-weight: bold;color: #666;float: left;}
.last2-left1 p{width: 90px;height: 90px;line-height: 32px;font-size: 14px;font-weight: bold;color: #666;}

.last-zi{width: 1200px;height: 12px;color: #666;text-align: center;text-indent: 0px;line-height: 100%;margin: 15px auto;padding: 0px;font: 12px Arial,Helvetica,sans-serif;}
.last-zi a{color: #666;margin: 0px 10px;}
.last-zi span{color: #666;margin: 0px 10px;}
.last-zi a:hover{color: red}
/*last3*/
.last3{width: 100%;float: left;padding: 10px 0px 20px;height: 31px;}
.last3-inner{width: 1200px;font-size: 0px;margin: 0 auto;height: 31px;}
.last3 a{margin: 0 4px;display: block;width: 90px;height: 31px;float: left;}
/*dingwei-left*/
.dingwei-left{width: 45px;height: 630px;position: fixed!important;left: 0;top: 0;background: #503953 url("../img/beijing.png") no-repeat scroll center bottom;z-index: 1}
.fangzi{height: 24px;background: transparent url("../img/fangzi.png") no-repeat scroll 0% 0%;margin-right: -25px;}
.nianhuo{height: 200px;margin-right: -22px;margin-left: -4px;margin-top: 2px;background: transparent url("../img/nianhuo.png") no-repeat scroll left top;cursor: pointer;}
.zi-1{height: 49px;border-bottom: 1px solid #59415C;text-align: center;}
.zi-1:hover{background: #FF672E}
.zi-1 a{display: block;height: 41px;padding-top: 8px;color: #E2D8E4;font-size: 12px;display: inline;}
.zi-1 span{background: transparent url("../img/dingwei-left.png") no-repeat scroll center center;display: block;width: 100%;height: 100%;cursor: pointer;font-size: 0px;}
/*dingwei right*/
.dingwei-right{position: fixed!important;bottom: 30px;right:31px;width: 45px;height: 462px;text-align: center;background: #fff;z-index:1}
.dingwei-right-zi1,.back{border: 1px solid #ccc;width: 44px;height: 40px;position: relative;}
.dingwei-right-zi1 a{display: block;color: #fff;font-size: 12px;}
.dingwei-right-i,.back{font-size: 20px;font-style: normal;color: #666;line-height: 40px;}
.dingwei-right-zi1 em{line-height: 17px;padding: 1px 5px;display: none;text-align: center;font: 12px Arial,Helvetica,sans-serif;color: #fff;width: 34px;height: 40px;position: absolute;left: 0;top: 0}
.dingwei-right-zi1:hover em{display: block;color: #fff;background:#FF3C3C;}

.dingwei-right-1{width: 44px;height: 40px;border: 0px none;background: transparent url("../img/index_sprite.png") no-repeat scroll -210px -580px;font-weight: bold;display: block;line-height: 40px;}

.back a{display: block;color: #fff;font-size: 12px;}
.back em{line-height: 17px;padding: 1px 5px;display: none;text-align: center;font: 12px Arial,Helvetica,sans-serif;color: #fff;width: 34px;height: 40px;}
.back:hover em{display: block;color: #fff;background:#FF3C3C;}
.dingwei-right-zi1 .aa{font-size: 20px;font-style: normal;color: #666;position: absolute;left: 0;top: 0;margin-left: 12px;line-height: 40px;}










